<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ date.strftime('%Y-%m-%d') }}</title>
    <link rel="stylesheet" href="assets/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap-theme.min.css">
    <script src="assets/bootstrap.min.js"></script>
    <script src="assets/jquery-2.1.0.min.js"></script>
</head>
<body>
<div class="container">
  <h1><a href="#">{{ date.strftime('%Y-%m-%d') }}</a></h1>
  <div>
    <audio
        id="player" src='http://alexis.notmyidea.org/nova/nova-lanuit-{{ date.strftime('%Y-%m-%d') }}.ogg'
        type='audio/vorbis'
        controls style="width: 100%"
        mozaudiochannel="content"
        preload="auto">
    </audio>
  </div>
  <table class="table table-striped table-hover">
    <thead><th>Temps</th><th>Artiste</th><th>Morceau</th><th>Lien</th></thead>
  <tbody>
  {% for track in tracks %}
  <tr id="{{ (track.date - date).seconds }}"
      onClick="play({{ (track.date - date).seconds }});">
    <td>{{ track.date.strftime('%H:%M') }}</td>
    <td>{{ track.artist }}</td>
    <td>{{ track.title }}</td>
    <td><a href='http://alexis.notmyidea.org/nova/nova-lanuit-{{ date.strftime('%Y-%m-%d') }}.ogg#t={{ (track.date - date).seconds }}'>🔗</a></td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
  </div>

<script type="text/javascript" charset="utf-8">
var player = document.getElementById('player');

function play(when){
  player.currentTime = when;
  player.play();
  $('tr').removeClass('success');
  $('#' + when).addClass('success');
};

var metadata = [];
{% for track in tracks %}
metadata.push({
  artist: "{{ track.artist }}",
  title: "{{ track.title }}",
  startTime: {{ (track.date - date).seconds }}});
{% endfor %}

function findTrack(time){
  for (var i in metadata){
    var track = metadata[i];
    if (track.startTime > time){
      var currentTrack = i;
      if(currentTrack > 0){
        currentTrack = currentTrack - 1;
      }
      return {
        current: metadata[currentTrack],
        previous: metadata[currentTrack -1]
      }
    }
  }
}

function displayTrack(track){
  $('tr').removeClass('success');
  $('#' + track.current.startTime).addClass('success');
}

lastCheck = 0;

player.ontimeupdate = function(){
  var now = parseInt(player.currentTime);
  if (now > lastCheck){
    var tracks = findTrack(player.currentTime);
    displayTrack(tracks);
    lastCheck = now;
  }
};
</script>
</body>
</html>
